* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #232323;
}

.nav-bar {
  margin: 1vh;
  margin-left: 12vh;
  margin-right: 12vh;
  margin-top: 5vh;

  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;

  background-color: #232323;
}
.lg {
  width: 30vh;
  height: 50%;
  margin-left: 2%;
}
img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

a {
  text-decoration: none;
  color: white;
  padding-right: 3vh;
  font-size: 0.9rem;
}
.slider {
  padding-left: 13vh;

  height: 50%;
  background-color: #232323;
  border-radius: 10px;

  padding-top: 15%;
}
.ds1 {
  font-size: 40vh;
  width: 90%;
  height: 30%;

  transform: rotate(-20deg);
  opacity: 0.2;
  color: #ffffff;
  position: relative;
}
.grey {
  font-size: 3rem;
  color: #ffffff;
  margin-top: -5%;
}
.white {
  font-size: 5rem;
  color: #fefefe;
  font-weight: 900;
}
.t1 {
  text-align: left;
}
.c1 {
  text-align: right;
  background-color: rgb(155, 189, 208);
  border-radius: 1.5px;
}
.about {
  background-color: #1f1f1f;
  width: 100%;
  height: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
  align-items: center;
}
.oppa1 {
  font-size: 6rem;
  opacity: 3%;

  font-weight: 800;
  color: #ffffff;
}
.oppa2 {
  font-size: 2rem;
  color: rgb(155, 189, 208);
  margin-top: -11vh;
  font-weight: 700;
}
.page {
  display: flex;
  flex-direction: row;
}
.pictures {
  width: 30%;
  margin-left: 12vh;
  margin-right: 12vh;
}
.pic1 {
  width: 50vh;
  height: 40vh;
  margin-top: 20%;
  padding-left: 3%;
  position: relative;
  z-index: 3;
  object-fit: fill;
}
.pic2 {
  width: 50vh;
  margin-top: -57%;
  margin-left: 3%;
  height: 38vh;
  border: 9px;
  border-color: rgb(155, 189, 208);
  border-style: solid;
  z-index: 1;
}
.text {
  padding-top: 3.5rem;
  width: 50%;
  margin-inline: auto;
}
.tı1 {
  display: flex;
  flex-direction: row;
  font-size: large;
}
.pı1 {
  margin-left: 2px;
  color: whitesmoke;
}
.pı2 {
  margin-left: 1rem;
  color: rgb(155, 189, 208);
}
.tı3 {
  width: 100%;
  margin-top: 10px;
  padding-right: 5%;
  color: whitesmoke;
  text-align: justify;
}
.skills {
  width: 100%;
  height: 40rem;
}
.ev1 {
  padding: 3%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.ev2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 5%;
  align-items: center;
}
.name,
.phone,
.country,
.mail,
.edu {
  color: rgb(155, 189, 208);
}
.name {
  margin-right: 10%;
}
/* .phone{
  padding-left:2%;
} */

.g1 {
  color: whitesmoke;
}
.mail {
  margin-left: 6%;
}
.edu {
  padding: 5%;
  margin-left: 40%;
}
.icons {
  margin-top: 2%;
  margin-left: 45%;
  display: flex;
  width: 5%;
}
.con {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 2%;
  width: 100%;
  height: 60%;
}
.left {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  width: 40%;
  height: 90%;
}
.right {
  display: flex;
  flex-direction: column;
  margin-right: 10%;
  width: 40%;
  height: 90%;
}
.item {
  margin-top: 15%;
  width: 80%;
  height: 2%;
  background-color: beige;
  text-align: justify;
}
.b {
  padding-left: 25%;
  color: rgb(155, 189, 208);
}
progress {
  border-radius: 2px;
}
progress::-webkit-progress-bar {
  background-color: beige;
  border-radius: 7px;
}
progress::-webkit-progress-value {
  background-color: rgb(155, 189, 208);
  border-radius: 7px;
}
.portfolio {
  width: 100%;
  height: 40rem;
  background-color: #1f1f1f;
}
.tp1 {
  display: flex;
  justify-content: center;
  margin-top: 5%;

  width: 100%;
  height: 40%;
}
.tp2 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40%;
}
.box {
  width: 15%;
  height: 70%;

  border: 9px;
  border-color: rgb(155, 189, 208);
  border-style: solid;
  margin-left: 5%;
}

.services {
  width: 100%;
  height: 100vh;
  background-color: #232323;
}
.sr1 {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  width: 100%;
  height: 40%;
}
.sr2 {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  width: 100%;
  height: 40%;
}
.box1 {
  padding: 2%;
  width: 20%;
  height: 80%;
  align-items: center;
  border: 9px;
  border-color: rgb(155, 189, 208);
  border-style: solid;
  margin-left: 5%;
}
.i1 {
  height: 25%;
  width: 20%;
}
.y1 {
  padding: 2%;
  color: whitesmoke;
  font-size: large;
}
.y2 {
  padding: 2%;
  color: aliceblue;
  font-weight: 200;
}
.footer {
  margin-top: 10%;
  width: 100%;
  height: 60vh;
  background-color: rgb(155, 189, 208);
}
.oppa3 {
  font-size: 3rem;
  font-weight: 800;
  color: #ffffff;
}
.ppp {
  display: flex;
  justify-content: space-between;
  padding: 5% 25%;
}
.ph {
  width: 20%;
  height: 70%;
}
.send {
  margin-left: 43%;
  justify-content: center;
  width: 15%;
  height: 10%;
  background-color: whitesmoke;
  color: rgb(155, 189, 208);
  align-items: center;
  padding-top: 1vh;
}
.btn {
  border: 0;
  background: #1f1f1f;
  color: whitesmoke;
}
@media only screen and (max-width: 992px) {
  .pic1 {
    width: 25vh;
    height: 25vh;
    margin-top: 35%;
  }
  .pic2 {
    width: 25vh;
    height: 25vh;
    margin-top: -95%;
    margin-left: 2vh;
  }
  .box {
    width: 25%;
  }
  .box1 {
    width: 35%;
    height: 100%;
    margin-right: 2%;
  }
  .name {
    margin-left: -5%;
  }
  .send {
    justify-content: center;
    margin-left: 35%;
    width: 30%;
  }
  .services {
    margin-bottom: 35%;
  }
  .ppp {
    padding-bottom: 10%;
  }
  .ph {
    width: 50%;
  }
  .edu {
    margin-left: 52%;
  }
  .nav-item {
    padding: 2%;
    width: 20%;
    font-size: 10px;
  }

  .lg {
    margin-right: 0;
  }
}
@media only screen and (max-width: 500px) {
  body {
    margin: 0;
    padding: 0;
  }
  .services {
    height: 100vh;
  }

  .y1 {
    font-size: 100%;
  }
  .i1 {
    height: 10%;
  }
  .y2 {
    font-size: 70%;
  }
  .pic1 {
    width: 10rem;
    height: 10rem;
    margin-top: 95%;
  }
  .pic2 {
    width: 10rem;
    height: 10rem;
    margin-top: -105%;
    margin-left: 1.5vh;
  }
  .nav-item {
    width: 22%;
  }
  .nav-bar {
    padding: 0;
    margin: 3% 2%;
  }
  .footer {
    margin: 0;
    padding: 0;
  }
  .portfolio {
    margin: 0;
    padding: 0;
  }
  .projects {
    margin: 0;
    padding: 0;
  }
  .services {
    margin: 0;
    padding: 0;
    margin-bottom: 10%;
  }
  .skills {
    margin: 0;
    padding: 0;
    margin-bottom: -35%;
  }
  .about {
    margin: 0;
    padding: 0;
    margin-bottom: 10%;
  }
  .slider {
    margin: 0;
    padding: 0;
    margin-bottom: 10%;
    margin-top: 5%;
    margin-left: 5%;
  }
  .box1 {
    height: 75%;
  }

  .nav-item {
    font-size: 10px;
  }
  .b {
    text-align: start;
    padding: 0;
    font-size: 2vh;
  }
  .grey {
    margin-top: 3%;
    margin-bottom: 5%;
    font-size: 1rem;
  }
  .white {
    font-size: 2rem;
  }
  .pictures {
    width: 80%;
    height: 100%;

    align-items: center;
  }
  .pic1 {
    width: 30%;
    height: 30%;
    margin: 0;
    padding: 0;
    margin-top: 2rem;
    margin-left: 6rem;
  }
  .pic2 {
    width: 30%;
    height: 6rem;
    margin: 0;
    padding: 0;
    margin-left: 6rem;
    margin-top: -6rem;
  }
  .about {
    align-items: center;
  }
  .tı3 {
    font-size: 0.7rem;
  }
  .pı1,
  .pı2 {
    font-size: 1rem;
  }
  .ev1,
  .ev2,
  .edu {
    font-size: 0.8rem;
  }
  .edu {
    margin: 0;
  }
  .pic {
    padding-top: 3%;
  }
  .page {
    display: flex;
    flex-direction: column;
  }
  .ev1 {
    flex-direction: column;

    margin: 0;
    padding: 0;
  }
  .name,
  .phone,
  .country,
  .mail {
    margin: 0;
    padding: 0;
  }
}
#more {
  display: none;
}
