* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #232323;
}
.icons-bg {
  color: rgb(155, 189, 208);
}
.nav-bar {
  margin: 1vh;
  margin-left: 12vh;
  margin-right: 12vh;
  margin-top: 5vh;

  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;

  background-color: #232323;
}
.lg {
  width: 30vh;
  height: 50%;
  margin-left: 2%;
}
img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

a {
  text-decoration: none;
  color: white;
  padding-right: 3vh;
  font-size: 0.9rem;
}
.slider {
  padding-left: 13vh;

  height: 50%;
  background-color: #232323;
  border-radius: 10px;

  padding-top: 15%;
}
.ds1 {
  font-size: 40vh;
  width: 90%;
  height: 30%;

  transform: rotate(-20deg);
  opacity: 0.2;
  color: #ffffff;
  position: relative;
}
.grey {
  font-size: 3rem;
  color: #ffffff;
  margin-top: -5%;
}
.white {
  font-size: 5rem;
  color: #fefefe;
  font-weight: 900;
}
.t1 {
  text-align: left;
}
.c1 {
  text-align: right;
  background-color: rgb(155, 189, 208);
  border-radius: 1.5px;
}
.about {
  background-color: #1f1f1f;
  width: 100%;
  height: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
  align-items: center;
}
.oppa1 {
  font-size: 6rem;
  opacity: 3%;

  font-weight: 800;
  color: #ffffff;
}
.oppa2 {
  font-size: 2rem;
  color: rgb(155, 189, 208);
  margin-top: -11vh;
  font-weight: 700;
}
.page {
  display: flex;
  flex-direction: row;
}
.pictures {
  width: 30%;
  margin-left: 12vh;
  margin-right: 12vh;
}
.pic1 {
  width: auto;
  height: auto;
  margin-top: 20%;

  position: relative;
  z-index: 3;
  object-fit: fill;
  border: 10px inset rgb(155, 189, 208);
}

.text {
  padding-top: 3.5rem;
  width: 50%;
  margin-inline: auto;
}
.tı1 {
  display: flex;
  flex-direction: row;
  font-size: large;
}
.pı1 {
  margin-left: 2px;
  color: whitesmoke;
}
.pı2 {
  margin-left: 1rem;
  color: rgb(155, 189, 208);
}
.tı3 {
  width: 100%;
  margin-top: 10px;
  padding-right: 5%;
  color: whitesmoke;
  text-align: justify;
}
.skills {
  width: 100%;
  height: 40rem;
}
.ev1 {
  padding: 3%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.ev2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 5%;
  align-items: center;
}
.name,
.phone,
.country,
.mail,
.edu {
  color: rgb(155, 189, 208);
}
.name {
  margin-right: 10%;
}
/* .phone{
  padding-left:2%;
} */

.g1 {
  color: whitesmoke;
}
.mail {
  margin-left: 6%;
}
.edu {
  padding: 5%;
  margin-left: 0;
}
.icons {
  margin-top: 2%;
  margin-left: 45%;
  display: flex;
  width: 10%;
}
.con {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 2%;
  width: 100%;
  height: 60%;
}
.left {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  width: 40%;
  height: 90%;
}
.right {
  display: flex;
  flex-direction: column;
  margin-right: 10%;
  width: 40%;
  height: 90%;
}
.item {
  margin-top: 15%;
  width: 80%;
  height: 2%;
  background-color: white;
  text-align: justify;
}
.b {
  padding-left: 25%;
  color: rgb(155, 189, 208);
}
progress {
  border-radius: 2px;
}
progress::-webkit-progress-bar {
  background-color: beige;
  border-radius: 7px;
}
progress::-webkit-progress-value {
  background-color: rgb(155, 189, 208);
  border-radius: 7px;
}
.portfolio {
  width: 100%;
  height: auto;
  background-color: #1f1f1f;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5%;
}

.tp1 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.box {
  width: 15%;
  height: 5%;
  margin: 0;
  border: 9px;
  border-color: rgb(155, 189, 208);
  border-style: solid;
  margin: 7%;
}

.services {
  width: 100%;
  height: 70%;
  background-color: #232323;

  padding-left: 5%;
  padding-right: 5%;
}
.sr1 {
  height: 150%;
  flex-direction: row;
  padding: 2%;
  flex-wrap: wrap;
}
.box1 {
  height: 25%;
  width: 20%;
  margin: 0;
  padding: 0;
  align-items: center;
  border: 9px;
  border-color: rgb(155, 189, 208);
  border-style: solid;
  margin: 4%;
}
.sr1 {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  width: 100%;
  height: 40%;
}

.i1 {
  height: auto;
  width: auto;
}
.y1 {
  padding: 2%;
  color: whitesmoke;
  font-size: large;
}
.y2 {
  padding: 2%;
  color: aliceblue;
  font-weight: 200;
}
.footer {
  margin-top: 10%;
  width: 100%;
  height: 100%;
  background-color: rgb(155, 189, 208);
}
.oppa3 {
  font-size: 3rem;
  font-weight: 800;
  color: #ffffff;
}
.ppp {
  display: flex;
  justify-content: space-between;
  padding: 5% 25%;
}
.ph {
  width: 20%;
  height: 70%;
}
.send {
  width: 30%;
  height: auto;
  background-color: whitesmoke;
  color: rgb(155, 189, 208);
  border-radius: 6px;
  margin: auto;
  padding: 2%;
}
.btn {
  border: 3px, solid;
  border-radius: 3px;
  border-color: rgb(155, 189, 208);
  background: #1f1f1f;
  color: whitesmoke;
}

@media (max-width: 900px) {
  .ppp {
    display: flex;
    justify-content: space-between;
  }
  .oppa1 {
    font-weight: 800;
    font-size: 4rem;
  }
  .send {
    padding: 2%;
    margin: auto;
  }
  .services {
    height: auto;
  }
  .i1 {
    width: 1rem;
    height: 1rem;
  }
  .ph {
    width: auto;
    align-items: center;
  }

  .y1 {
    font-size: 70%;
  }
  .i1 {
    height: 10%;
  }
  .y2 {
    font-size: 70%;
  }
  .nav-item {
    width: 22%;
  }
  .nav-bar {
    padding: 0;
    margin: 3% 2%;
  }

  .projects {
    margin: 0;
    padding: 0;
  }

  .skills {
    margin: 0;
    padding: 0;
    margin-bottom: -35%;
  }
  .about {
    margin: 0;
    padding: 0;
    margin-bottom: 10%;
  }
  .slider {
    margin: 0;
    padding: 0;
    margin-bottom: 10%;
    margin-top: 5%;
    margin-left: 5%;
  }
  /* .box1 {
    height: 75%;
  } */

  .nav-item {
    font-size: 6px;
    padding:1% 2% ;
  }
  .b {
    text-align: start;
    padding: 0;
    font-size: 2vh;
  }
  .grey {
    margin-top: 3%;
    margin-bottom: 5%;
    font-size: 1rem;
  }
  .white {
    font-size: 2rem;
  }
  .pictures {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pic1 {
    width: 50%;
    height: auto;
    margin: 0;
    margin-top: 5%;
    padding: 0;
    border: 5px inset rgb(155, 189, 208);
  }

  .about {
    align-items: center;
  }
  .tı3 {
    font-size: 0.7rem;
  }
  .pı1,
  .pı2 {
    font-size: 1rem;
  }
  .ev1,
  .ev2,
  .edu {
    font-size: 0.8rem;
  }

  .pic {
    padding-top: 3%;
  }
  .page {
    display: flex;
    flex-direction: column;
  }
  .ev1 {
    flex-direction: column;

    margin: 0;
    padding: 0;
  }
  .name,
  .phone,
  .country,
  .mail {
    margin: 0;
    padding: 0;
  }
  .sr1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;
    padding-top: 2rem;
  }
  .box1 {
    margin: 5%;
    width: 7rem;
    height: auto;
  }
  .icons-bg {
    margin-left: -40%;
  }
  .footer {
    width: auto;
    height: 16rem;
  }
  .tp1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5%;
    width: 100%;
    height: 100%;
  }
  .box {
    padding: 0;
    margin: 0;
    width: 7rem;
    height: 7rem;
    margin: 2rem;
  }
}
#more {
  display: none;
}
